# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Export only the addon folder in source ZIP downloads.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
